<?php
$config = array( 
    // An authentication source which can authenticate against OpenConext 
    'default-sp' => array( 
        'saml:SP', 
        'privatekey'  => 'saml.key', 
        'certificate' => 'saml.crt', 
        'idp' => '{{ ssp_default_sp_idp }}', 
    ), 
); 
?>
